<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
  "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moemao.tgks.mar.marzlog.dao.MarzLogDao">
    <resultMap id="MarzLogEvtMap" type="MarzLogEvt">
        <id property="id" column="ID" />
        <result property="tgksId" column="TGKSID" />
        <result property="type" column="TYPE" />
        <result property="info" column="INFO" />
        <result property="createTime" column="CREATETIME" />
    </resultMap>
</mapper>