<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
  "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moemao.tgks.mar.marzcard.dao.MarzCardDao">
    <resultMap id="MarzCardEvtMap" type="MarzCardEvt">
        <id property="id" column="ID" />
        <result property="password" column="PASSWORD" />
        <result property="type" column="TYPE" />
        <result property="status" column="STATUS" />
        <result property="usedTime" column="USEDTIME" />
        <result property="createTime" column="CREATETIME" />
    </resultMap>
</mapper>